<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <h1>{{ title }}</h1>
    <div class="spacer"></div>
    <a mat-button>IPS-Smart Client</a>
    <a mat-button>IPS-Smart Query</a>
    <a mat-button (click)="onSignout()">Sign out</a>
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav #sidenav mode="over" (click)="sidenav.close()">
    <mat-nav-list>
      <mat-list-item>
        <button mat-button routerLink="/home/home-tab" routerLinkActive="active">
          <mat-icon>home</mat-icon>Home
        </button>
      </mat-list-item>
      <mat-list-item>
        <button mat-button routerLink="/home/table-tab" routerLinkActive="active">
          <mat-icon>table</mat-icon>Table
        </button>
      </mat-list-item>
      <mat-list-item>
        <button mat-button routerLink="/home/system-tab" routerLinkActive="active" >
          <mat-icon>settings</mat-icon>System
        </button>
      </mat-list-item>
      <mat-list-item>
        <button mat-button routerLink="/home/contact-tab" routerLinkActive="active">
          <mat-icon>contacts</mat-icon>Contact
        </button>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="body">
        <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
<ng-template #tab1>
  <app-home-tab-component></app-home-tab-component>
</ng-template>
<ng-template #tab2>
  <app-table-tab-component></app-table-tab-component>
</ng-template>
<ng-template #tab3>
  <app-system-tab-component></app-system-tab-component>
</ng-template>
<ng-template #tab4>
  <app-contact-tab-component></app-contact-tab-component>
</ng-template>