<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <h1>{{ title }}</h1>
    <div class="spacer"></div>
    <a mat-button>Custom Field</a>
    <a mat-button>Catalog</a>
    <a mat-button (click)="onSignout()">Sign out</a>
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav #sidenav mode="over" (click)="sidenav.close()">
    <mat-nav-list>
      <mat-list-item routerLink="/home/dashboard-tab" routerLinkActive="active">
          <mat-icon>space_dashboard</mat-icon>
          <span>Dashboard</span>
      </mat-list-item>
      <mat-list-item routerLink="/home/table-tab" routerLinkActive="active">
          <mat-icon>table_view</mat-icon>
          <span>Table</span>
      </mat-list-item>
      <mat-list-item routerLink="/home/report-tab" routerLinkActive="active">
          <mat-icon>summarize</mat-icon>
          <span>Report</span>
      </mat-list-item>
      <mat-list-item routerLink="/home/log-tab" routerLinkActive="active">
          <mat-icon>settings</mat-icon>
          <span>Logs</span>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="body">
        <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
<ng-template #tab1>
 <app-dashboard></app-dashboard>
</ng-template>
<ng-template #tab2>
  <app-table></app-table>
</ng-template>
<ng-template #tab3>
  <app-report></app-report>
</ng-template>
<ng-template #tab4>
  <app-log></app-log>
</ng-template>