/* Base styles for your card and chart */
.chartContainer {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 20px;
}

.pie-chart {
  flex: 1;
  height: 350px;
  width: 100%;
  box-shadow: 0 0 6px 2px rgba(0,0,0,.1);
}

.line-chart {
  flex: 2; 
  margin-left: 20px;
  height: 350px;
  width: 100%;
  box-shadow: 0 0 6px 2px rgba(0,0,0,.1);
}

#chart {
  max-width: 100%;
  margin: 0 10px 0 10px;
}

#donut-chart {
  margin: 10px 10px 0 10px;
}

@media screen and (max-width: 768px) {
  .chartContainer {
    flex-direction: column;
  }

  .pie-chart,
  .line-chart {
    flex: 1; 
    margin: 10px 0; 
  }
}

.main-chart
{
  flex: 1; 
  height: 350px;
  width: 100%;
  box-shadow: 0 0 6px 2px rgba(0,0,0,.1);
}

#chart-title
{
  text-align: center;
  margin: 5px 5px;
  border-bottom: #a6a19e solid 2px;
}
#donut-title
{
  text-align: center;
  margin: 5px 5px;
  border-bottom: #a6a19e solid 2px;
}


