
:host {
  display: flex;
  justify-content: center;
  margin: 100px 0px;
}

mat-card {
  background: linear-gradient(#647dee, #9921e8);
  height: 500px;
  width: 400px;
}
.mat-form-field {
  width: 100%;
  min-width: 350px;
  color: #ffff;
}

.card-img {
  width: 40px;
  height: 40px;
  border: 20px solid #ffff;
  border-radius: 50%;
  background-color: white;
}

mat-card-title,
mat-card-content,
mat-card-footer {
  display: flex;
  justify-content: center;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-checkbox-label {
  font-size: small;
}

.mat-input-element {
  margin-bottom: 5px;
}
.mat-card-content {
  padding-top: 30px;
}
.mat-card-footer {
  padding-top: 10px;
  font-size: small;
}
.mat-card-title {
  padding-top: 30px;
  color: #ffff;
}
.button {
  justify-content: center;
  display: flex;
}

.button button{
  padding: 12.5px 30px;
  border: 0;
  border-radius: 100px;
  background-color: #f2f2f2;
  color: black;
  font-weight: Bold;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

.button button:hover {
  color: #ffffff;
  background-color: #6fc5ff;
  box-shadow: 0 0 20px #6fc5ff50;
  transform: scale(1.1);
}

.button button:active {
  background-color: #3d94cf;
  transition: all 0.25s;
  -webkit-transition: all 0.25s;
  box-shadow: none;
  transform: scale(0.98);
}

a:hover {
  text-decoration: underline;
}
span.mat-checkbox-frame {
  border-color: #fff;
}
.forget-pass {
  padding-top:2rem;
  color: #fff;
}
::ng-deep .mat-checkbox-frame {
  border-color: #fff !important;
}
::ng-deep .mat-form-field-appearance-legacy .mat-form-field-label {
  color: #fff;
  margin-left: 5px;
  font-size: small;
}
::ng-deep.mat-form-field.mat-focused .mat-form-field-label {
  color: #fff;
}
::ng-deep input.mat-input-element {
  margin-left: 5px;
}

::ng-deep .mat-checkbox-layout .mat-checkbox-label {
  margin-top: 2px;
  font-size: small;
  color: #fff;
}
::ng-deep .card-image {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

::ng-deep .mat-form-field-invalid mat-label.mat-required::before {
  content: none;
}