* {box-sizing: border-box;}

body { 
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  
}

.header {
  position: fixed;
  width: 100vw;
  overflow: hidden;
  background-color: #fff;
  padding: 15px 10px;
}

.body{
  padding-top: 80px;
}


.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  margin-right: 15px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
}

.header a.menu {
  font-size: 25px;
  font-weight: bold;
  
}

.header a.menu:hover{
  color: #e03327b4;
}

.header a:hover {
  background-color: #ddd;
  color: black;
}

.header a.active {
  background-color: dodgerblue;
  color: white;
}

.header-right {
  float: right;
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  
  .header-right {
    float: none;
  }
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

td {
  padding: 8px;
  text-align: center;
}

th
{
  padding: 8px;
  text-align: center;
  color: white;
  background-color: #575555;
}

th:nth-child(2), td:nth-child(2) {
  text-align: left;
}

tr:nth-child(even) {
  background-color: white;
}

tr:nth-child(odd) {
  background-color: #E2E2E2;
}

.table{
  padding: 20px 20px;
}

.table-shadow
{
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.pagination{
  padding: 10px 10px;
}

.input {
  margin-top: 20px;
  margin-left: 20px;
  max-width: 250px;
  background-color: #f5f5f5;
  color: #242424;
  padding: .15rem .5rem;
  min-height: 40px;
  border-radius: 4px;
  outline: none;
  border: none;
  line-height: 1.15;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

input:focus {
  border-bottom: 2px solid #5b5fc7;
  border-radius: 4px 4px 2px 2px;
}

input:hover {
  outline: 1px solid lightgrey;
}

::ng-deep .pagination li a:hover
{
  background-color: #3b82f6;
  color: #fff;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#panel{
  transition: margin-left .5s;
  
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.tab-home{
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 60px);
}

.tab-system
{
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 60px);
}

.tab-contact
{
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 60px);
}

.card {
  width: 190px;
  height: 254px;
  background: #07182E;
  position: relative;
  display: flex;
  place-content: center;
  place-items: center;
  overflow: hidden;
  border-radius: 20px;
}

.card h2 {
  z-index: 1;
  color: white;
  font-size: 2em;
  margin-left: 5px;
}

.card::before {
  content: '';
  position: absolute;
  width: 100px;
  background-image: linear-gradient(180deg, rgb(0, 183, 255), rgb(255, 48, 255));
  height: 130%;
  animation: rotBGimg 3s linear infinite;
  transition: all 0.2s linear;
}

@keyframes rotBGimg {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.card::after {
  content: '';
  position: absolute;
  background: #07182E;
  inset: 5px;
  border-radius: 15px;
} 